@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html, body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url('https://kylef01.github.io/internet/pine_tree.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
}

p {
  font-family: 'Ubuntu', sans-serif;
}

#header {
  background-color: #ddda;
  padding: 5px;
  margin: 0px;
  
}

#home {
  width: 50px;
  height: 50px;
  background-color: #eeec;
}

button {
  border: 0px solid black;
  border-radius: 5px;
  background-color: #eeec;
  margin-top: 0px;
}

footer {
  font-size: 12px;
  border-top: 1px solid #a0a;
  background-color: #a9a8;
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.section {
  width: 90%;
  background-color: #fff8;
  margin: auto;
  margin-top: 10px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
